<!-- Wrapper -->
  <div id="wrapper" class="divided">

    <!-- Banner -->
      <section class="banner onload-content-fade-right style5 fullscreen content-align-center image-position-center invert">
        <div class="content">
          <h1>Olivia & Pierre</h1>
          <p class="major">Samedi 5 Juin 2021 &ndash; Albertville</p>
          <p>C’est à l’Eternel qu’il te faut remettre ta vie tout entière. Aie confiance en lui et il agira.<br>Psaumes 37 verset 5</p>
          <ul class="actions stacked">
            <li><a href="#first" class="button large wide smooth-scroll-middle">Par ici !</a></li>
          </ul>
        </div>
        <div class="image">
          <%= image_tag "banner.jpg", alt: "" %>
          <!-- <img src="images/banner.jpg" alt="" /> -->
        </div>
      </section>

    <!-- Gallery -->
      <section class="wrapper style1 align-center" style="background-color: #F3F3F3 !important;" id="first">
        <div class="inner">
          <h2>Important : COVID-19</h2>
          <p>Afin de rester informer des dernières nouvelles concernant l’organisation du mariage dans le respect des règles sanitaires, renseignez vos coordonnés, nous vous tiendrons au courant. Rassurez-vous, vous inscrire ici ne vous engage en rien !</p>

          <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <label for="name">Prénom & Nom</label>
                  <input type="text" name="name" id="name" value="" />
                </div>
                <div class="field half">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" value="" />
                </div>
              </div>
              <ul class="actions stacked">
                <li><input type="submit" name="submit" id="submit" value="M'inscrire à la newsletter" /></li>
              </ul>
            </form>
        </div>
      </section>


    <!-- Spotlight -->
      <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
        <div class="content">
          <h2>Liste de mariage</h2>
          <p>Vous souhaitez nous faire un petit cadeau ? Consultez la liste de mariage et participez à la cagnotte.</p>
          <ul class="actions stacked">
            <li><a href="#" class="button">Découvrir la liste de mariage</a></li>
          </ul>
        </div>
        <div class="image">
          <%= image_tag "listemariage", alt: "alttext" %>
        </div>
      </section>

    <!-- Spotlight -->
      <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
        <div class="content">
          <h2>Cérémonie à l'église</h2>
          <p>C'est le temps fort de la journée ! Quoi de mieux que de remettre notre mariage à Dieu avant toute chose. Rejoignez-nous pour ce temps de célébration ou s'enchaineront, chants, lecture de la Bible ou encore promesses des mariés...</p>
          <p><i>Église Saint Jean-Baptiste, Place de l’église, 73200 Albertville</i></p>
          <ul class="actions stacked">
            <li><a href="https://www.google.fr/maps/place/Eglise+de+Saint+Jean+Baptiste/@45.6783096,6.3884812,17z/data=!3m1!4b1!4m5!3m4!1s0x478bc30564be6239:0x924472b2a8f90360!8m2!3d45.6783059!4d6.3906699" target="_blank" class="button">Regarder la carte</a></li>
          </ul>
        </div>
        <div class="image">
          <%= image_tag "eglise", alt: "alttext" %>
        </div>
      </section>

    <!-- Spotlight -->
      <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
        <div class="content">
          <h2>Vin d'honneur convivial</h2>
          <p>Vous êtes ensuite tous conviés à partager avec nous un vin d'honneur gourmand, si le temps le permet, en plein air. Ce sera l'occasion de pouvoir un peu plus échanger avec chacun d'entre vous et de prendre aussi quelques photos !</p>
          <p><i>Salle de la Tourmotte, Chemin de la Tourmotte, 73460 Tournon</i></p>
          <ul class="actions stacked">
            <li><a href="https://www.google.fr/maps/place/Salle+De+La+Tourmotte/@45.6439831,6.3136011,17z/data=!3m1!4b1!4m5!3m4!1s0x478bc78ce3c0d147:0x89ee4ef704d6a6bc!8m2!3d45.6439794!4d6.3157898"  target="_blank" class="button">Regarder la carte</a></li>
          </ul>
        </div>
        <div class="image">
          <%= image_tag "vindhonneur", alt: "alttext" %>
        </div>
      </section>


    <!-- Footer -->
      <footer class="wrapper style1 align-center" style="background-color: #F3F3F3 !important;">
        <div class="inner">
          <h2>Contact</h2>
          <p>Vous avez une question le déroulé de la journée ? N'hésitez pas à nous écrire à mariage@oliviaetpierre.com</p>
          <p>À très bientôt !<br>Olivia & Pierre</p>
        </div>
      </footer>

  </div>

<!-- Scripts -->



  <!-- <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script> -->

<!-- Note: Only needed for demo purposes. Delete for production sites. -->
  <!-- <script src="assets/js/demo.js"></script> -->

