<div id="wrapper" class="divided">

    <!-- Banner -->
      <section class="banner onload-image-fade-in onload-content-fade-right style2 fullscreen orient-center content-align-center image-position-center color7">
        <div class="content">
          <h1>Félicitations !</h1>
          <p class='major'>Votre réponse à bien été enregistrée.</p>
          <p><i>En cas de soucis n'hésitez pas à nous contacter : mariage@oliviaetpierre.com</i></p>
          <ul class="actions stacked">
            <li><a href="/" class="button large wide smooth-scroll-middle">Retourner à la page d'accueil</a></li>
          </ul>
        </div>
        <div class="image">
          <%= image_tag "banner.jpg", alt: "" %>
        </div>
      </section>

</div>
